<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/vladislav/IdeaProjects/pagefactory">
        <classes>
            <class name="basic">
                <methods>
                    <include name="signIn"></include>
                    <exclude name="second"></exclude>
                </methods>
            </class>
        </classes>
    </test>
</suite>